In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('train.csv')[['Age','Pclass','SibSp','Parch','Survived']]
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

<h1>Accuracy without using Feature construction</h1>

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [17]:
X_train,X_test,y_train,y_test= train_test_split(df.drop(['Survived'],axis=1),df['Survived'],test_size=0.2)
model= RandomForestClassifier()
model.fit(X_train,y_train)

y_pred= model.predict(X_test)

accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

0.6927374301675978

<h1>Accuracy using Feature Correction</h1>

In [18]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [19]:
df['family_size'] = df['SibSp'] + df['Parch'] + 1

In [20]:
df.head()

    Age  Pclass  SibSp  Parch  Survived  family_size
0  22.0       3      1      0         0            2
1  38.0       1      1      0         1            2
2  26.0       3      0      0         1            1
3  35.0       1      1      0         1            2
4  35.0       3      0      0         0            1

In [21]:
def family(num):
    if num==1:
        return 0
    elif num>1 and num<=4:
        return 1
    elif num>=5:
        return 2

In [22]:
family(4)

1

In [23]:
df['family_type']=df['family_size'].apply(family)

In [24]:
df.head()

    Age  Pclass  SibSp  Parch  Survived  family_size  family_type
0  22.0       3      1      0         0            2            1
1  38.0       1      1      0         1            2            1
2  26.0       3      0      0         1            1            0
3  35.0       1      1      0         1            2            1
4  35.0       3      0      0         0            1            0

In [25]:
df.drop(columns=['SibSp','Parch','family_size'],inplace=True)

In [26]:
df.head()

    Age  Pclass  Survived  family_type
0  22.0       3         0            1
1  38.0       1         1            1
2  26.0       3         1            0
3  35.0       1         1            1
4  35.0       3         0            0

In [30]:
X_train,X_test,y_train,y_test= train_test_split(df.drop(['Survived'],axis=1),df['Survived'],test_size=0.2)
model= RandomForestClassifier()
model.fit(X_train,y_train)

y_pred= model.predict(X_test)

accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

0.7262569832402235

In [28]:
X_train

      Age  Pclass  family_type
536  45.0       1            0
178  30.0       2            0
826   NaN       3            0
348   3.0       3            1
510  29.0       3            0
..    ...     ...          ...
389  17.0       2            0
19    NaN       3            0
646  19.0       3            0
43    3.0       2            1
529  23.0       2            1

[712 rows x 3 columns]