In [17]:
import pandas as pd
import numpy as np

In [79]:
df=pd.read_csv('placement.csv')

In [80]:
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [81]:
from sklearn.model_selection import train_test_split
X= df['cgpa']
Y=df['package']

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [82]:
x_mean= np.mean(X_train)
y_mean= np.mean(y_train)
x_mean

X_train_array = np.array(X_train)
y_train_array= np.array(y_train)

In [83]:
m=0
numerator=0
denominator=0
for i in range(len(X_train_array)):
    numerator+=(X_train_array[i]-x_mean)*(y_train_array[i]-y_mean)
    denominator+=((X_train_array[i]-x_mean)**2)
m=numerator/denominator
b=y_mean- m*x_mean

In [85]:
def mylr(num):
    result= (m*num)+b
    return result

In [89]:
mylr(8.58)

np.float64(3.891116009744203)

In [73]:
print(m,b)

0.3511707707412891 21.835452174894982

In [86]:
df.sample(7)

     cgpa  package
181  8.22     3.89
169  9.31     4.37
161  7.30     3.33
184  7.88     3.14
183  7.28     2.72
152  7.37     3.08
43   7.66     2.76